<a href="https://colab.research.google.com/github/py241012463/CEE2/blob/main/Another_copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#para strings, print (" ")
print("Hello world")
#estruturas de código identificadas por identação (geralmente, quatro espaços ou um tab)
#observe que o aninhamento de comandos exige dois pontos
#e tudo que estiver identado, está aninhado
if 5>2:
  print("5 e maior do que 2")
# a atribuição de valores às variáveis usa o sinal de =
x = 5
nome = "Python"
#para saltar uma linha, utilize "\n" separado por vírgula
print("\n", x, "\n")
print(nome)

Hello world
5 e maior do que 2

 5

Python

In [ ]:
Exercício 1:
Crie um código que escreva "Olá, seu primeiro nome".

In [ ]:
nome = "Claytton L. de Oliveira"
print ("\n", "Olá, ", nome, ".")
#para evitar que o ponto se separe do nome, concatene 'nome' e '.' com o sinal '+'
print("\n",nome+".")
#o "\n" é interpretado como string
print("\n"+"Nome =", nome)

 Olá,  Claytton L. de Oliveira .

 Claytton L. de Oliveira.

Nome = Claytton L. de Oliveira

In [ ]:

#Você pode forçar um número a assumir determinado tipo
x = 20             # Inteiro com valor 20
y = int(1024)      # Inteiro com valor 1024
z = int('1234')    # Inteiro com valor 1234. Converte a string para o tipo de dado requerido
w = int(10.5)      # vai converter '10.5' para inteiro
k = int(10.9)      # vai converter '10.9' para inteiro tomando só a parte inteira. Não faz arredondamento
print(x)
print(y)
print(z)
print(w)
print (k)
print(type(x))     #imprime a classe do número
t=1+2j             #é número complexo. O 'j' indica isso
v=1j               #é preciso indicar a quantidade de 'j', no caso, '1'
print(t, type(t),"\n", v, type(v))

20
1024
1234
10
10
<class 'int'>
(1+2j) <class 'complex'>
 1j <class 'complex'>

In [ ]:
#Vc pode definir string com "" ou pela função 'str()'
x = "Hello World!"    # String "Hello World!"
y = str(20)           # String "20"
z = str(3.1415)       # String "3.1415"
print(x)    # Exibe "Hello World!"
print(y)    # Exibe "20"
print(z)    # Exibe "3.1415"
#O mesmo para variáveis do tipo lógico
x = False      # Booleano com valor False
y = bool(1)    # Booleano com valor True
z = (3 > 5)    # Booleano com valor False
print(x)    # Exibe False
print(y)    # Exibe True
print(z)    # Exibe False
print(type(x))    # Exibe "<class 'bool'> indicando que é booleano.

Hello World!
20
3.1415
False
True
False
<class 'bool'>

Exercício 1: Convertendo entre int e float
Crie três variáveis: uma do tipo int, uma do tipo float e uma do tipo bool. Exiba os valores de cada uma dessas variáveis e o tipo delas. Em seguida, converta as variáveis de acordo com as instruções abaixo:

Converta o número inteiro para float e exiba o resultado.
Converta o número decimal (float) para int e exiba o resultado.
Tente converter o valor booleano para int e float, e observe os resultados.

In [ ]:
x = int (10.5)
y = float (2)
z = bool (-1)         #na conversão para boolean, 0 é 'false', todo o resto, 'true'
t = bool ("NaN")      #mas se, em lugar da string, for colocado apenas 'NaN', gera erro porque NaN é indefinido.
print ("x =", x, type(x))
print ("y =", y, type(y))
print ("z =", z, type(z))
print ("t =", t, type(t))
x = float(x)
print ("x =", x, type(x))
print("y =", y, type(y)) #assim y é convertido para int apenas para impressão, mas seu tipo permanece intacto
y = int (y)              #com a atribuição de tipo int, a variável tem seu tipo alterado
print("y =", y, type(y))
z = bool (z)
print("z =", z, type(z))

x = 10 <class 'int'>
y = 2.0 <class 'float'>
z = True <class 'bool'>
t = True <class 'bool'>
x = 10.0 <class 'float'>
y = 2.0 <class 'float'>
y = 2 <class 'int'>
z = True <class 'bool'>

Exercício 2: Operações básicas com int e float
Crie duas variáveis: uma contendo um número inteiro igual a 5 (num1 = 5) e outra contendo um número decimal float igual a 2.5 (num2 = 2.5). Em seguida, execute as seguintes operações e printe o resultado:

Adição (num1 + num2)
Subtração (num1 - num2)
Multiplicação (num1 * num2)
Divisão (num1 / num2)

In [ ]:
num1 = 5
num2 = 2.5
print("num1 + num2 =", num1+num2)
print("num1 - num2 =", num1-num2)
print("num1 * num2 =", num1*num2)
print("num1 / num2 =", num1/num2)

num1 + num2 = 7.5
num1 - num2 = 2.5
num1 * num2 = 12.5
num1 / num2 = 2.0

Exercício 3: Calculando a área de um círculo
Crie um programa que calcule a área de um círculo, dada a fórmula:  A=π∗r2 . Atribua um valor para o raio (como float) e mostre o resultado da área. Utilize π = 3.14159.

O resultado deve ser apresentado como "A área do círculo é: {area}"

In [ ]:
pi=3.14159
r=float(1)
A = pi*r**2
print ("A área é =", A)
#a divisão inteira retorna a parte inteira da divisão
print ("7//2 =", 7//2)
#o módulo retorna o resto
print ("7%2 =", 7%2)
#observe que ainda
x=10
print ("x =", x)
x+=5
print ("x+=5 ->", "x =", x)

A área é = 3.14159
7//2 = 3
7%2 = 1
x = 10
x+=5 -> x = 15

In [ ]:
#Quando se importa um módulo, como 'math', as funções do módulo, quando chamadas, devem ser precedidas do nome do módulo
import math
print(math.sqrt(16))   # 4.0
print(math.pow(2, 3))  # 2**3 = 8.0
print(math.exp(1))     #Exponencial (equivalente e^x)
print(math.log(10))    #logaritmo natural de x
print(math.log(10, 10))#math.log(x, b) = logaritmo x na base b
print(math.factorial(5))  # 120
print(abs(-10))           # 10 essa função não é do módulo math
print(math.floor(2.9))  # 2. Arredondamento para baixo
print(math.ceil(2.1))   # 3. Arrendondamento para cima

4.0
8.0
2.718281828459045
2.302585092994046
1.0
120
10
2
3

5.7

In [ ]:
#As funções abaixo, se rodadas em sequência, só vão apresentar o resultado da última linha, 'round(5.7, 1)'
round(3.14159, 2)  # Retorna 3.14
round(5.7)  # Retorna 6
round(5.7, 1)  # Retorna 6
print(round(3.14159, 2))
print(round(5.7))
print(round(5.7, 1))

3.14
6
5.7

In [ ]:
min(3, 1, 5)          #Retorna 1, o menor valor da sequência
min([10, 20, -5, 4])  #Retorna -5, o menor valor do conjunto de argumentos
divmod(10, 3)         #Retorna (3, 1) = retorna o quociente e o resto da divisão de uma tupla
complex (10,3)        #Retorna o complexo '10+3j'
#lembrando, mais uma vez, que em uma sequência de comandos, o comando retornado é sempre o último

(10+3j)

Exemplo: Cálculo de Área e Perímetro
Escreva um programa que receba o raio de um círculo e calcule a área e o perímetro. Lembrando as equações são
Area=πr2Perimetro=2πr

Utilize a constante math.pi para o valor de  π .

In [ ]:
import math
#a função input() escreve o pedido do raio e captura o valor digitado
#a função float pega o valor capturado por input(), transforma em tipo 'float' e atribui à variável raio
raio=float(input("Digite o raio do círculo: "))
area = math.pi * math.pow(raio,2)
perimetro = 2*math.pi*raio
#f" " é uma f-string, forma mais concisa de formatar uma string
#{area:.2f} retorna o valor da 'area' com dois pontos decimais '.2' em ponto flutuante, o último 'f'
print(f"Area: {area:.2f}") # então é (f"texto: {argumento: formatação}"), que pode ser impresso de modo mais simples com
print("Area: ", round(area,2))
print(f"Perímetro: {perimetro:.2f}")

Digite o raio do círculo: 2
Area: 12.57
Area:  12.57
Perímetro: 12.57

Exercício 1: Conversor de Temperatura
Crie um programa que converta uma temperatura de graus Celsius para Fahrenheit.

A fórmula de conversão é:
Fahrenheit=Celsius×95+32

Obs: para receber a temperatura em Celsius do usuário, utilize o comando:

* `celsius = float(input("Digite a temperatura em Celsius: "))`

In [ ]:
celsius = float(input("Digite a temperatura em Celsius: "))
farenheit = celsius*9/5+32
print("A temperatura de ", celsius, "ºC em Farenheit é", round(farenheit,3))

Digite a temperatura em Celsius: 36.7
A temperatura de  36.7 ºC em Farenheit é 98.06

Exercício 2: Calculadora de IMC
Crie um programa que recebe calcula o Índice de Massa Corporal (IMC). Para isto você deve receber do usuário o peso e a altura.

A fórmula do IMC é dada por:
$$ IMC=peso/altura2,$$
em que peso é dado em kg e a altura em metros.

Obs: utilize os seguintes comandos para ser o peso e a altura:

* `peso = float(input("Digite o peso em quilogramas: "))`
* `altura = float(input("Digite a altura em metros: "))`

In [ ]:
peso = float(input("Digite o peso em kg: "))
altura = float(input("Digite a altura em metros: "))
IMC = peso/math.pow(altura, 2)
print("O IMC é: ", round(IMC,2))

Digite o peso em kg: 73
Digite a altura em metros: 1.72
O IMC é:  24.68

As listas são criadas usando [] ou list(). Veja os exemplos abaixo.

In [ ]:
v1 = ["Fortran", "Python", "R", "Python"]        #então, a lista é definida por [ ] ou list (())
v2 = list(("Fortran", "Python", "R", "Python"))  #com argumentos isolados por aspas duplas e separados por vírgula
print("\n", v1, "\n")
print ("v2= ",v2)
print ("v2[1] =",v2[1]) #acessa a segunda posição da lista
print ("v2[-2] =",v2[-2]) #acessa a segunda posição da lista reversa, já que v2[0] é a primeira posição da lista
v1[1]="C++"               #altera o segundo elemento da lista
print(v1)
v1.append("Cobol")        #acrescenta o dado no final da lista
print(v1)
v1.clear()                #limpa a lista
print(v1)
v2.count("R")             #conta quantas vezes "R" aparece na lista
print(v2.count("R"))
v3=v2.extend(["Java","C"])   #esse comando não funciona porque o método extend() altera uma lista, mas não retorna uma lista
v2.extend(["Java","C"])      #modifica a lista v2
v3=v2                        #cria a lista v3
print(v3)
print (v3.index("Python"))   #retorna apenas a primeira posição em que "Python" for encontrada

 ['Fortran', 'Python', 'R', 'Python']

v2=  ['Fortran', 'Python', 'R', 'Python']
v2[1] = Python
v2[-2] = R
['Fortran', 'C++', 'R', 'Python']
['Fortran', 'C++', 'R', 'Python', 'Cobol']
[]
1
['Fortran', 'Python', 'R', 'Python', 'Java', 'C', 'Java', 'C']
1

Para encontrar o número de vezes que a palavra "Python" aparece na lista, podemos usar o seguinte código:

In [ ]:
#Para encontrar o número de vezes que a palavra "Python" aparece em uma lista, podemos usar o seguinte código:
v = list(("Fortran", "Python", "R", "Python", "Java", "C", "Java", "C"))
elemento_procurado = "Python"
indices = []
#preciso do dado para comparação com os da lista, no caso, elemento_procurado "Python"
#criei uma lista vazia para acolher os índices onde a palavra "Python" for encontrada
for i, valor in enumerate (v): #a função enumerate() retorna o índice do dado para 'i' e o valor do dado (a palavra correspondente ao índice 'i') para 'valor'
    if valor == elemento_procurado:   # se a palavra correspondente ao índice 'i' for igual ao elemento procurado a lista 'indices' recebe o valor de 'i'
      indices.append(i)               # se não, retorna o loop até terminar todos os elementos 'i' do vetor 'v'
print ("Índices: ",indices)
#Para inserir um dado em uma lista, pode-se usar insert(posicao, valor)
print(v)
v.insert(0,"Assembler")
print (v)
#para remover um item:
v.remove("Fortran")
print (v)
#para inverter a ordem da lista:
v.reverse()
print (v)
#para ordenar alfabeticamente:
v.sort()
print (v)
#para remover um item da segunda posição da lista:
v.pop(1)
print (v)
#se não for apresentado argumento, remove o último
v.pop()
print (v)

Índices:  [1, 3]
['Fortran', 'Python', 'R', 'Python', 'Java', 'C', 'Java', 'C']
['Assembler', 'Fortran', 'Python', 'R', 'Python', 'Java', 'C', 'Java', 'C']
['Assembler', 'Python', 'R', 'Python', 'Java', 'C', 'Java', 'C']
['C', 'Java', 'C', 'Java', 'Python', 'R', 'Python', 'Assembler']
['Assembler', 'C', 'C', 'Java', 'Java', 'Python', 'Python', 'R']
['Assembler', 'C', 'Java', 'Java', 'Python', 'Python', 'R']
['Assembler', 'C', 'Java', 'Java', 'Python', 'Python']

Exercício 1: Modificando uma lista
Dada a lista frutas = ["maçã", "banana", "laranja", "uva"], faça o seguinte:

Substitua a fruta "banana" por "abacaxi".
Adicione a fruta "morango" ao final da lista.
Exiba a lista resultante.
Coloque a lista em ordem alfabética.
Substitua a fruta "maçã" por "pera".
Exiba a lista e verifique se ainda esta ordenada. Caso não esteja, então ordene e exiba novamente.

In [ ]:
frutas = list(("maçã", "banana", "laranja", "uva"))
print(frutas)
#em uma lista, list[] requer como argumento uma posição da lista
frutas[frutas.index("banana")] = "abacaxi" #eu poderia ter especificado a posição de "banana": frutas[1] = "abacaxi"
print(frutas)
frutas.append("morango")
print(frutas)
print(frutas.sort()) #não funciona porque o método sort() modifica a lista, mas não retorna uma lista
frutas.sort()
print(frutas)
frutas.reverse()
print(frutas)
frutas[frutas.index("maçã")] = "pera"
print (frutas)
frutas.sort()
print(frutas)

['maçã', 'banana', 'laranja', 'uva']
['maçã', 'abacaxi', 'laranja', 'uva']
['maçã', 'abacaxi', 'laranja', 'uva', 'morango']
None
['abacaxi', 'laranja', 'maçã', 'morango', 'uva']
['uva', 'morango', 'maçã', 'laranja', 'abacaxi']
['uva', 'morango', 'pera', 'laranja', 'abacaxi']
['abacaxi', 'laranja', 'morango', 'pera', 'uva']

As tuplas pode ser criadas usando apenas vírgulas, ou () ou tuple()

In [ ]:
v0 = "Fortran", "Python", "R", "Python"
v1 = ("Fortran", "Python", "R", "Python")
v2 = tuple(("Fortran", "Python", "R", "Python"))
#Os elementos de uma tupla pode ser desempacotados em um conjunto de variáveis
frutas = ("maçã", "banana", "cereja")
(verde, amarelo, vermelho) = frutas #atribui uma característica, na ordem dada, aos elementos da tupla
#observe que a atribuição é a mesma tupla com descrição invertida
print(frutas)
print(verde)
print(verde,vermelho)
frutas = ("maçã", "banana", "cereja", "morango", "framboesa")
(verde, amarelo, *vermelho) = frutas #nesse caso, verde representa maçã, amarelo rep banana e vermelho o resto
v=print(vermelho) #Quando você usa print(vermelho), o Python exibe o conteúdo da lista vermelho na tela, mas essa ação não gera um valor que possa ser atribuído a uma variável
print(v)
print(v2[0:2])

('maçã', 'banana', 'cereja')
maçã
maçã cereja
['cereja', 'morango', 'framboesa']
None
('Fortran', 'Python')

Exercício 2: Buscando um elemento em uma tupla
Dada a tupla frutas = ("maçã", "banana", "laranja", "uva"), encontre e exiba o índice da fruta "laranja".

In [ ]:
frutas = ("maçã", "banana", "laranja", "uva")
print(frutas.index("laranja"))

2

Os conjuntos (set) são coleções desordenadas de itens únicos, o que significa que eles não mantêm uma ordem específica e não permitem elementos duplicados. São criados com { } ou set(( ))

In [ ]:
v1 = {"Fortran", "Python", "R", "Python"}
v2 = set(("Fortran", "Python", "R", "Python"))
s1 = {"A", "B", "C", "D", "E"}
s2 = {"A", "B", "C"}
s3 = {"X", "Y", "Z"}
s3.add("W")                           # s3 = {'X', 'W', 'Y', 'Z'}
s3.clear()                            # s3 = {}
s3 = s2.copy()                        # s3 = {'A', 'B', 'C'}
s3 = s1.difference(s2)                # s3 = {'D', 'E'}
s3.discard("D")                       # s3 = {'E'}
print("s2 inter s1 :", s2.intersection(s1))  # exibe:  {"A", "B", "C"}
print(s1.isdisjoint(s2))              # s1 disjunto s2? => False
print(s1.issubset(s2))                # s1 contido s2? => False
print(s2.issubset(s1))                # s2 contido s1? => True
print(s1.issuperset(s2))              # s2 contido s1? => True
s1.remove("C")                        # s1 = {"A", "B", "D", "E"}
print(s1)
s1.update(s2)                         # s1 = {'A', 'B', 'C', 'D', 'E'}
print(s1)

s2 inter s1 : {'B', 'A', 'C'}
False
False
True
True
{'E', 'A', 'B', 'D'}
{'E', 'A', 'C', 'B', 'D'}

### Exercício 3: Operações com `set`.

Crie um set chamado `frutas` contendo as frutas `"maçã", "banana", "laranja"` e `"uva"` e então:
* exiba o conteúdo;
* adicione a fruta "abacaxi" e exiba o resultado;
* remova o elemento "banana" e exiba o resultado;
* faça a união do set `frutas` com o set `vermelhas = {"morango", "cereja", "amora"}`, guarde em `frutas` e exiba o resultado;
* exiba a interseção do conjunto `frutas` com o conjunto `frutas2 = {"banana", "pera", "morango"}`.

In [ ]:
frutas={"maçã","banana","laranja","uva"}
frutas1=frutas.copy()
print("Conjunto frutas=",frutas)
frutas.update("abacaxi") #Ao usar update() com uma string, o Python itera sobre cada caractere da string: 'a', 'b', 'a', 'c', 'a', 'x', 'i'
print("Conjunto frutas=",frutas)
print("Conjuntos frutas1: ",frutas1)
frutas1.add("abacaxi") #adiciona abacaxi
print("frutas1 adicionado de abacaxi", frutas1)
frutas = frutas1
print("frutas corrigido =",frutas) #retoma o set frutas original
frutas.remove("banana") #remove banana de frutas
print("frutas =", frutas)
vermelhas = {"morango", "cereja", "amora"}
frutas.update(vermelhas)
print("frutas= ",frutas)
A = {"a","b","c"}
B = frutas.union(A) # o método union() retorna um conjunto.
print("B = ",B)
frutas2 = set(("banana","pera","morango"))
print(frutas.intersection(frutas2))

Conjunto frutas= {'maçã', 'uva', 'banana', 'laranja'}
Conjunto frutas= {'maçã', 'i', 'b', 'c', 'banana', 'x', 'uva', 'a', 'laranja'}
Conjuntos frutas1:  {'maçã', 'uva', 'banana', 'laranja'}
frutas1 adicionado de abacaxi {'maçã', 'banana', 'abacaxi', 'uva', 'laranja'}
frutas corrigido = {'maçã', 'banana', 'abacaxi', 'uva', 'laranja'}
frutas = {'maçã', 'abacaxi', 'uva', 'laranja'}
frutas=  {'cereja', 'morango', 'maçã', 'abacaxi', 'uva', 'laranja', 'amora'}
B =  {'a', 'cereja', 'morango', 'maçã', 'b', 'c', 'abacaxi', 'uva', 'laranja', 'amora'}
{'morango'}

Os **dicionários** (*dict*) são coleções de (*chave*, *valor*) que são ordenadas e mutáveis. Não permite duplicações de suas chaves. Temos então as seguintes propriedades para a classe `dict`:

* **ordenadas** -- os elementos mantém a ordem de inclusão (*a partir da versão 3.7 do Python*).

* **elementos podem ser alterados** -- o valor dos elementos podem ter seus valores alterados.

* **não permite duplicação das chaves** -- as chaves não podem ser repetidas.

Os **dicionários** são criados usando `{}` informando pares do tipo `chave: valor`; também podem ser criados com `dict(chave="valor")`:

In [ ]:
#os dicionários são criados com { } assim como os sets
v1 = {"name" : "R", "version" : 2.7, "name" : "Python"}
carro_1 = dict(marca = "Ford", modelo = "Mustang", ano = 1967) #chave=marca, valor="Ford"; chave = modelo, valor="Mustang"; chave=ano, valor=1967
carro_2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)
x = dict.fromkeys(("k1", "k2", "k3"), 0) #O método fromkeys() é chamado no dicionário vazio, passando a tupla de chaves ("k1","k2","k3)
# - lembrando que a tupla é definida entre parêntesese - e o valor 0 como argumentos (valores) das chaves
#outra maneira de criar um dicionário utilizando tuplas para as chaves e para os valores
chave = ("k1","k2","k3")
valores = (1,2,3)
dicionario = {chave: valor for chave, valor in zip(chave, valores)}#{chave:valor...} vai montar o dicionário ao
#agregar, a cada iteração do 'for', para cada par (chave, valor), as tuplas geradas por zip() a partir dos dados contidos
# nas tuplas 'chave' e 'valores'
print(dicionario)
car1 = dict(marca = "Ford", modelo = "Mustang", ano = 1967)
car2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)
car2.clear()               #limpa o dicionário
car2 = car1.copy()         #copia dicionário car1 para car2
print(car1.get("modelo"))  #retorna o valor da chave 'modelo'
print(dicionario.items())
print(type(dicionario.items()))
print(dicionario.keys())
print("car1 =", car1)
print(car1.pop("modelo")) #remove o item com a chave 'modelo'
print("car1 =", car1)
print(car1.popitem())     #remove o último elemento do dicionário
print(car1)

{'k1': 1, 'k2': 2, 'k3': 3}
Mustang
dict_items([('k1', 1), ('k2', 2), ('k3', 3)])
<class 'dict_items'>
dict_keys(['k1', 'k2', 'k3'])
car1 = {'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1967}
Mustang
car1 = {'marca': 'Ford', 'ano': 1967}
('ano', 1967)
{'marca': 'Ford'}

In [ ]:
car2 = dict(marca = "Toyota", modelo = "Corolla", ano = 2022)
print(car2.setdefault("ano",2020))   #se a chave existe, retorna o valor da chave
print(car2)
print(car2.setdefault("cor","azul")) #se a chave não existe, a insere no dicionário
print(car2)
car2.update({"modelo": "Bronco"})    #a função update() exige {}
print(car2)

2022
{'marca': 'Toyota', 'modelo': 'Corolla', 'ano': 2022}
azul
{'marca': 'Toyota', 'modelo': 'Corolla', 'ano': 2022, 'cor': 'azul'}
{'marca': 'Toyota', 'modelo': 'Bronco', 'ano': 2022, 'cor': 'azul'}

### Exercício 4: Operações com dict

Crie um dicionário chamado `aluno` com as chaves `"nome", "idade"` e `"nota"`, e os respectivos valores `"Ana"`, `20` e `8.5`. Então:

* exiba o dicionário completo;
* exiba apenas a nota;
* adicione uma nova chave `curso` com o valor `matematica` e exiba o dicionário autalizado;
* altera a `idade` para `21` e exiba o dicionário atualizado;
* remova a chave `nota` e exiba o dicionário atualizado;
* inclua a chave `notas` com os valores `[8.5, 9.0]`  e exiba o dicionário autalizado.

In [ ]:
aluno = {"nome":"Ana", "idade" : 20, "nota" : 8.5} #ao criar o dicionário com chaves, as chaves precisam ser cercadas com apóstrofos e é preciso usar dois pontos :
print ("aluno = ", aluno)
aluno1 = dict(nome = "Ana", idade = 20, nota = 8.5)#com dict(), as chaves apenas recebem seus nomes e os valores, se strings, com apóstrofos
print ("aluno1 = ", aluno1)
print("Nota do aluno =",aluno.get("nota"))         #get() retorna o valor da chave indicada
aluno.setdefault("curso","matemática")             #setdefault() requer chave e valor entre aspas e separadas por vírgula
print(aluno)
#aluno.update({"idade":21})                        #há essa foram chata, com o uso de chaves e dois pontos
aluno["idade"]=21                                  #e essa daqui
print(aluno)
aluno.pop("nota")
print(aluno)
aluno.update({"notas":[8.5,9.0]})                  #jeito chato
aluno["notas2"]=[7.5,8.5]                          #jeito simpático
print(aluno)

aluno =  {'nome': 'Ana', 'idade': 20, 'nota': 8.5}
aluno1 =  {'nome': 'Ana', 'idade': 20, 'nota': 8.5}
Nota do aluno = 8.5
{'nome': 'Ana', 'idade': 20, 'nota': 8.5, 'curso': 'matemática'}
{'nome': 'Ana', 'idade': 21, 'nota': 8.5, 'curso': 'matemática'}
{'nome': 'Ana', 'idade': 21, 'curso': 'matemática'}
{'nome': 'Ana', 'idade': 21, 'curso': 'matemática', 'notas': [8.5, 9.0], 'notas2': [7.5, 8.5]}

As **sequências** (range) são estruturas utilizadas principalmente para a construção de índices ou loopings. Essas sequências são criadas utilizando a seguinte função:

`range(start, stop, step)`.

Veja o exemplo:

### Exercício 5: utilizando range

1. exiba o resultado do `range(0, 30, 2)`;
2. exiba todos os números pares entre 50 e 70;
3. exiba todos os números ímpares entre 50 e 70;
4. exiba todos os números que são multiplos de 5 entre 17 e 69.

In [ ]:
x = range(0,30,2)
print(x)
#for i in x:
#    print(i)
#ou pode ser feito assim
print("x: ",*x, sep=" ")       #o asterisco desempacota os elementos de x e os passa para a função print() e sep=" " insere espaços entre cada valor.
y=range(52,70,2)
print("y: ",*y, sep = " ")
z = range (51, 70, 2)
print("z: ", *z, sep= " ")
w = range (20,66,5)
print("w: ", *w, sep = " ")

range(0, 30, 2)
x:  0 2 4 6 8 10 12 14 16 18 20 22 24 26 28
y:  52 54 56 58 60 62 64 66 68
z:  51 53 55 57 59 61 63 65 67 69
w:  20 25 30 35 40 45 50 55 60 65

parei em execução condicional